
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0; /* إزالة الهامش حتى لا يؤثر على التمركز */
    direction: rtl;
    background-image: url("لوجو.png");
    background-repeat: no-repeat; /* منع التكرار */
    background-position: center center; /* توسيط الخلفية */
    min-height: 110vh; /* التأكد من أن الصفحة تمتد لعرض الخلفية */
    
    align-items: center;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
input, button {
    margin: 10px;
    padding: 10px;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
}
th {
    background-color: #4CAF50;
    color: white;
}
.level-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #ffcc80;
}
